.hookPageContainerheight {
  height: 500px;
}
.gridContainer {
  @apply container;
  @apply mx-auto grid;
  display:  grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

h1 {
  font-size: 32px;
  font-weight: bold;
}
