<section class="container mx-auto flex flex-col items-center h-screen justify-center">
  <section class="flex justify-between w-6/12 shadow rounded">
    <figure class="container mx-auto flex justify-center items-center">
      <img class="w-1/2 h-1/2" src="/assets/images/register/undraw_window_shopping_re_0kbm.svg" alt="Register image">
    </figure>
    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" class="bg-dark h-full w-full p-10">
      <h1>Register</h1>
      <section class="flex flex-col gap-1">
        <section class="flex flex-col pt-5">
          <label class="" for="email">Email: </label>
          <input class="p-1 rounded" id="email" name="email" type="email" autocomplete="email" #email="ngModel" ngModel email required>
          <div *ngIf="email.touched && email.invalid" class="invalidFeedback">
            <div *ngIf="email.errors?.email">*Email must be a valid email address</div>
          </div>
        </section>
        <section class="flex flex-col pt-5">
          <label class="" for="firstName">First name: </label>
          <input class="p-1 rounded" id="firstName" name="firstName" type="text" ngModel required>
        </section>
        <section class="flex flex-col pt-5">
          <label class="" for="firstName">Last name: </label>
          <input class="p-1 rounded" id="lastName" name="lastName" type="text" ngModel required>
        </section>
        <section class="flex flex-col pt-5">
          <label class="" for="password">Password: </label>
          <input class="p-1 rounded" id="password" name="password" type="password" #password="ngModel"
                 [pattern]="regexPattern"
                 ngModel required password>
          <div *ngIf="password.touched && password.invalid" class="pt-2 invalidFeedback">
            <div *ngIf="password.invalid">
              <p>*Password should be atleast 8 characters long</p>
              <p>*Password should contain atleast one number</p>
              <p>*Password should contain atleast one character</p>
              <p>*Password should contain atleast one special character</p>
            </div>
          </div>
        </section>
        <section class="pt-4 flex flex-row-reverse gap-5">
          <button [disabled]="!registerForm" type="submit" class="pl-3 pr-3 pt-2 pb-2 bg-brand rounded w-15">Register</button>
          <button [routerLink]="['/login']" class="pl-3 pr-3 pt-2 pb-2  bg-light rounded w-15 blackText">Login</button>
        </section>
      </section>
    </form>
  </section>
</section>
