<header class="flex items-center mx-auto w-full bg-dark h-20">
  <section class="container mx-auto">
    <nav class="flex justify-between items-center h-full">
      <h1 [routerLink]="['home']" >Noodleshop.</h1>
      <ul class="flex gap-5">
        <li>
          <a [routerLink]="['shop']">Shop</a>
        </li>
        <li>
          <a [routerLink]="['about']">About</a>
        </li>
        <li>
          <a [routerLink]="['contact']">Contact</a>
        </li>
        <!-- Toggle register to login -->
        <li>
          <a class="pt-2 pb-2 pl-3 pr-3 bg-brand rounded" [routerLink]="['register']">Register</a>
        </li>
      </ul>
    </nav>
  </section>
</header>

