<section class="container mx-auto flex items-center h-full w-full m-0">
  <section class="flex justify-between w-full">
    <section class="flex flex-col justify-center">
        <h1>Noodleshop.</h1>
        <p>The only thing I like better than talking about food is eating.
          <br>Here we offer the best ramen for our connoisseurs.
          <br>Without ramen, there'd be darkness and chaos.
          <br>Before you know it our ramen will turn you into a hopeless ramen-tic!
        </p>
      <section class="mt-5 flex gap-2 flex items-center">
        <button [routerLink]="['/products']" class="pl-3 pr-3 pt-2 pb-2 bg-brand rounded brandButton">Buy now!</button>
      </section>
    </section>
    <figure class="h-1/5 w-1/5 select-none">
      <img class=" select-none object-contain" src="/assets/images/home/undraw_eating_together_re_ux62_new.svg" alt="People eating together">
    </figure>
  </section>
</section>
