<footer class="bg-dark w-full h-20">
  <section class="container mx-auto flex flex-col justify-center h-full">
    <section class="flex justify-between">
      <h1 [routerLink]="['/home']" class="cursor-pointer">Noodleshop.</h1>
      <section class="flex items-center gap-5">
        <figure class="fa-2x cursor-pointer"><fa-icon [icon]="faGithub"></fa-icon></figure>
        <figure class="fa-2x cursor-pointer"><fa-icon [icon]="faTwitter"></fa-icon></figure>
        <figure class="fa-2x cursor-pointer"><fa-icon [icon]="faFacebook"></fa-icon></figure>
      </section>
    </section>
  </section>
</footer>

